ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  $primary-color: #333;
  .flexMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    li {
      width: 100%;
    }
    a {
      color: white;
      display: block;
      padding: 1rem 1rem;
      background: $primary-color;
      transition: .5s;
      &:hover {
        background: lighten($primary-color, 6%);
      }
    }
    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }
  
.footer {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    grid-template-rows: 1fr 1fr;
}
  .copyright{
    color: red; 
  }